<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="form_container">
        <h2>Login</h2>
        <form action="/login" method="post">
            <div class="form_group">
                <label for="name">Username:</label>
                <input type="text" name="username" id="name" placeholder="enter name" required autocomplete="off">
            </div>

            <div class="form_group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="enter password" required autocomplete="off">
                <img src="images/hide.png" alt="hide icon" id="hide">
            </div>
            <button type="submit" class="submit_btn">Login</button>
        </form>
        <p>Don't have an account? <a href="/signup">Signup</a></p>
    </div>

    <script src="/main.js"></script>
</body>
</html>